- shirts = ["lapiz1", "lapiz2", "lapiz3", "lapiz4", "lapiz5", "lapiz6", "lapiz7", "lapiz8", "lapiz3", "jevi-plain", "jevi-plain2", 'sam-graffiti']
- caps   = ['jevi-gorra', 'jevi-gorra2', 'jevi-gorra']

#products
  ul
    - for (i in shirts)
      li
        .shirts
          a.fancy(rel='group', data-fancybox-group="button", href="img/#{shirts[i]}.jpg")
            img.header(src="img/#{shirts[i]}.jpg")

          .button-group
            .enlarge.fancy(rel='group', data-fancybox-group="button", href="img/#{shirts[i]}.jpg")
              span +
            .compra(data-product="#{shirts[i]}") Compra
            p $34.99
            

    - for (i in caps)
      li 
        .caps
          a.fancy(rel='group', data-fancybox-group="button", href="img/#{caps[i]}.jpg")
            img.header(src="img/#{caps[i]}.jpg")

          .button-group
            .enlarge.fancy(rel='group', data-fancybox-group="button", href="img/#{caps[i]}.jpg")
              span +
            .compra(data-product="#{caps[i]}") Compra
            p $48.99
            